/*flex-direction: row; - по умолчанию*/
/*flex-direction: row-reverse;*/
/*flex-direction: column;*/
/*flex-direction: column-reverse;*/

/*flex-wrap: wrap; - по умолчанию*/
/*flex-wrap: wrap-reverse;*/
/*flex-wrap: no-wrap;*/

/*justify-content: flex-start; - по умолчанию*/
/*justify-content: flex-end;*/
/*justify-content: center;*/
/*justify-content: space-between;*/
/*justify-content: space-around;*/

/*align-content: flex-start; - по умолчанию*/
/*align-content: center;*/
/*align-content: flex-end;*/
/*align-content: space-between;*/
/*align-content: space-around;*/

/*align-items: stretch; - по умолчанию*/
/*align-items: flex-start;*/
/*align-items: center;*/
/*align-items: flex-end;*/
/*align-items: baseline;*/

/*align-self: stretch; - по умолчанию*/
/*align-self: flex-start;*/
/*align-self: center;*/
/*align-self: flex-end;*/
/*align-self: baseline;*/

/*order: 0 - по умолчанию*/

/*flex-basis: auto; - по умолчанию*/
/*flex-grow: 0; - по умолчанию; 1 -рост*/
/*flex-shrink: 1; - по умолчанию ужимается; 0 - запрет на ужимание*/

/* Рассчет для flex-grow элементов

ширина контейнера - (flex-basis * к-во элементов) - рассчет свободного места
свободное место / (сумма значений flex-grow) - рассчет свободного места для flex-grow элемента
flex-basis + (flex-grow * свбободное место для flex-grow элементов) - рассчет размеров flex-grow элементов
*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 16px;
}

.container {
	max-width: 1200px;
	min-width: 320px;
	background-color: #ccc;
	margin: 40px auto;
	padding: 10px 0;
	height: auto;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.container__item {
	border: 5px solid green;
	box-sizing: border-box;
	padding: 15px 20px;
	flex-basis: 150px;
}

.container__item:first-child {
	flex-grow: 1;
}

.container__item:last-child {
	flex-grow: 5;
}