/*flex-direction: row; - по умолчанию*/
/*flex-direction: row-reverse;*/
/*flex-direction: column;*/
/*flex-direction: column-reverse;*/

/*flex-wrap: wrap; - по умолчанию*/
/*flex-wrap: wrap-reverse;*/
/*flex-wrap: no-wrap;*/

/*justify-content: flex-start; - по умолчанию*/
/*justify-content: flex-end;*/
/*justify-content: center;*/
/*justify-content: space-between;*/
/*justify-content: space-around;*/

/*align-content: flex-start; - по умолчанию*/
/*align-content: center;*/
/*align-content: flex-end;*/
/*align-content: space-between;*/
/*align-content: space-around;*/

/*align-items: stretch; - по умолчанию*/
/*align-items: flex-start;*/
/*align-items: center;*/
/*align-items: flex-end;*/
/*align-items: baseline;*/

/*align-self: stretch; - по умолчанию*/
/*align-self: flex-start;*/
/*align-self: center;*/
/*align-self: flex-end;*/
/*align-self: baseline;*/

/*order: 0 - по умолчанию*/

/*flex-basis: auto; - по умолчанию*/
/*flex-grow: 0; - по умолчанию; 1 -рост*/
/*flex-shrink: 1; - по умолчанию ужимается; 0 - запрет на ужимание*/

/* Рассчет для flex-grow элементов

ширина контейнера - (flex-basis * к-во элементов) = рассчет свободного места
свободное место / (сумма значений flex-grow) = рассчет свободного места для flex-grow базового элемента
flex-basis + (flex-grow * свбободное место для flex-grow элементов) = рассчет размеров flex-grow элементов
*/

/* Рассчет для flex-shrink элементов

ширина контейнера - (flex-basis * к-во элементов) = рассчет отрицательного значения
(flex-basis * flex-shrink (n)) +  (flex-basis * flex-shrink (n)) = сумма базовых размеров flex-shrink (n - значения элемента flex-shrink)
(flex-basis * flex-shrink (n)) / сумма базовых размеров flex-shrink = рассчет коэфициента сжатия flex-shrink элемента
 flex-basis - (коэфициент сжатия flex-shrink элемента * отрицательное значение) = Высчитываем размер флекс-элемента
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	background: #ccc;
}

.container {
	max-width: 1120px;
	min-width: 320px;
	margin: 30px auto;
}

.news{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.news__item {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	flex-basis: 32%;
	margin-bottom: 40px;
	position: relative;
}

.news__item > img {
	display: block;
	width: 100%;
}

.news__info {
	display: flex;
	flex-direction: column;
	padding: 15px 25px;
	justify-content: space-between;
	flex-grow: 1;
}

.news__info h2{
	margin-bottom: auto;
	margin-top: 7px;
	font-size: 22px;
	line-height: 30px;
}

.news__info h2 a{
	font-size: 22px;
	line-height: 30px;
	color: #000;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.55px;
}

.posts__info h2 a:hover {
	text-decoration: underline;
}

.news__author {
	display: flex;
	flex-wrap: nowrap;
	justify-content: start;
	padding: 0 0 0 20px;
}

.news__author img{
	display: block;
	border-radius: 100%;
	flex-basis: 50px;
	margin-bottom: 20px;
	max-width: 45px;
}

.news__author p{
	margin-right: auto;
	margin-left: 10px;
	font: 400 18px/50px 'Rubik';
}

time{
	font-size: 13px;
	line-height: 30px;
	letter-spacing: 0.325px;
	color: #818181;
	text-transform: uppercase;
	font-weight: 600;
	margin: 7px 0;
}

.news__item--large {
	flex-basis: 66%;
}

.news__item--large .news__info {
	position: absolute;
	bottom: 35px;
	left: 50px;
	padding: 0 25px 0 0;
	z-index: 1;
}

.news__item--large .news__info a {
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 0.75px;
	color: #fff;
}

.news__item--large img {
	flex-grow: 1;
}

.news__item--large::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

@media screen and (max-width: 980px) {

	time {
		font-size: 12px;
	}

	.news__info h2 a {
		font-size: 16px;
		line-height: 24px;
	}

	.news__info h2 {
		font-size: 16px;
		line-height: 24px;
	}

	.news__info {
		padding: 10px 15px 15px 15px;
	}

	.news__item--big .news__info a {
		font-size: 20px;
		line-height: 26px;
	}

}

@media screen and (max-width: 768px) {

	.news__item {
		flex-basis: 49%;
	}

	.news__item--big img {
		flex-grow: 0;
	}

	.news__item--big .news__info {
		position: static;
		left: auto;
		bottom: auto;
		padding: 10px 15px 15px 15px;
	}

	.news__item--big::after {
		display: none;
	}

	.news__item--big .news__info a {
		font-size: 16px;
		line-height: 24px;
		color: #000;
	}


}

@media screen and (max-width: 480px) {

	.news__item {
		flex-basis: 100%;
	}

}